
/* font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



body {

    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

/* main header css   */
.header {
    background-color: #c3c3c3;
    height: 70px;
    width: 100%;
    border-top: 3px solid black;
    padding: 10px 10px;

}

h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 30px 0px;
    padding: 0px 70px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif !important;
}

/* advertorial */
.advertorial {
    margin-top: 2%;
}
.advertorial h2 {
    color: #555555;
    font-family: "Open Sans Condensed", Sans-serif;
    font-size: 23px;
    font-weight: 600;
}
.advertorial p {
    font-size: 13px;
    line-height:1.3px;

}

/* content section css */

.content{
    margin: 30px 0px;
    padding: 0px 100px;
}
.content p {
    font-size:19px;
    line-height: 27px;
    font-weight:400 !important;
    color: black;
}
.content span {
    font-weight: 700;
}
.content h2 {
    font-weight:700 !important;
    font-size: 28px;
    margin: 40px 0px;
    color: black;

}
.box-bottom-text {
    font-size: 20px;
    line-height: 1.5;
    margin: 25px 0px;
    font-weight: 700;
    text-align: center;
    padding: 0px 150px;
    color: black;
    
}

/* Get Started */
.get-started{
    margin: 0px 100px;
   
    padding: 25px 25px 25px 25px;
    background-color: #EBFFEB;
    border-style: solid;
    border-color: #C7E5C3;
}

.get-started i {
    font-size: 41px;
    color: #009402;
    margin-right: 20px;
}

.green{
    font-weight: 700;
    margin-bottom: 20px;
    color: #009402;
    font-size: 27px;
    margin: 0px 100px;
}
.get-started p  {
    font-size:19px;
    line-height: 30px;
    color: black;


}


.text-button a {
  background-color: #009402;
  color: white;
  font-weight: 700;
  margin: 10px 0px;
  font-size: 24px;
  letter-spacing: 1px;
  border-radius: 15px 15px 15px 15px;
  padding: 22px 22px 22px 22px;
 
  
}
.text-button a:hover{
    
    transform: scale(1.1);
    transition: all .5s;
    color: white;
    background-color: #4F4F4F;
        

}

/* services section */
.services{
    margin: 40px 0px;
}
.services img:hover{
    transform: scale(1.1);
    transition: all .2s;
}
.services img{
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    padding: 20px 10px ;
}


/* Footer */
footer {
    background-color: rgb(21,21,21);
    color: gray;
    padding: 50px 20px
}
footer a {
    color: gray;
    font-size: 15px;
    text-decoration: none;
}
footer a:hover {
    color: orange
}

/* RESPONSIVE CSS */
@media only screen and (min-width: 990px) and (max-width: 1200px){
    .services img{
        width: 200px !important;
        padding: 10px 0px ;
    }
}
@media only screen and (min-width: 766px) and (max-width: 990px) {
    h1 {
        padding: 0px 40px;
    }
    .content{
        padding: 0px 40px;
    }    
    .get-started{
        margin: 0px 30px ;
    }
    .green{
        margin: 0px 30px;
    }
    .advertorial img{
        width: 600px;
    }
    
    .services img{
        width: 250px !important;
        padding: 10px 0px ;
    }
    .box-bottom-text {
        padding: 0px 50px;
    }

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
        padding: 0px 40px;
        font-size: 30px;
    }
    .content{
        padding: 0px 40px;
    }    
    .get-started{
        margin: 0px 30px ;
    }
    .green{
        margin: 0px 30px;
    }
    .get-started p  {
        font-size:16px;
        line-height: 20px;
    }
    .advertorial img{
        width: 450px;
    }
    .services img{
        width: 280px !important;
        padding: 10px 0px ;
    }
    .box-bottom-text {
        padding: 0px 50px;
    }
}
@media only screen and (min-width: 360px) and (max-width: 479px){
    h1 {
        padding: 0px 10px;
        font-size: 25px;
    }
    .content{
        padding: 0px 10px;
    }    
    .get-started{
        margin: 0px 0px ;
    }
    .green{
        margin: 0px 10px;
        font-size: 20px;
    }
    .get-started p  {
        font-size:16px;
        line-height: 20px;
    }
    .advertorial img{
        width: 350px;
    }
    .services img{
        width: 280px !important;
        padding: 10px 0px ;
    }
    .box-bottom-text {
        padding: 0px 20px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 359px){
    h1 {
        padding: 0px 0px;
        font-size: 30px;
    }
    .advertorial img{
        width: 280px;
    }
    .content{
        padding: 0px 0px;
    }   
    .box-bottom-text {
        padding: 0px 20px;
    } 
    .green{
        margin: 0px 10px;
        font-size: 20px;
    }
    .get-started{
        margin: 0px 0px ;
    }

    .content p{
        font-size: 15px;
    } 
    .content h2{
        font-size: 22px;
        margin: 10px 0px;
    } 
    .get-started h2{
        font-weight: 700;
        margin-bottom: 20px;
    }
    .get-started p  {
        font-size:15px;
        line-height: 30px;
    
    }
   
    
}